/* font family */
/* font-family: 'Merriweather', serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Ubuntu Mono', monospace; */
body{
  margin: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Patrick Hand', cursive;
}
h2{
    font-size: 50px;
    font-family: 'Ubuntu Mono', monospace;
}
p{
    font-size: 25px;
    font-family: 'Handlee', cursive;
    
}
.highlight{
    color: coral;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right:2%;
   
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 100px;
    padding-right: 15px;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#ff8e71,#ffda77);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: cornsilk;
     
    margin-top: 20px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area p{
    font-size: 20px;
    font-family: 'Handlee', cursive;
    text-align: left;
}
.experience-area h2,h3{
  font-size: 30px;
}
.experience-board{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    height: 75%;
    padding-left:  25px  ;
   padding-right: 7px;
   background-color: rgb(255, 255, 255);
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left;
}
#stack1{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,#ff8e71,#ffda77);
    border-image-slice: 1;
}
#stack2{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,#ff8e71,#bd77ff);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
}
